.gradient {
  background: linear-gradient(150deg,#114b5f,#028090);
  color: #ffffff;
}

.special-skill-item .icon {
  text-align: center;
  font-size: 50px;
  background-color: #f45b69;
  color: #ffffff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
}

.btn-outline-primary {
  color: #f45b69;
  border-color: #f45b69;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f45b69;
  border-color: #f45b69;
}

.page-footer .social-icons a {
  font-size: 18px;
  margin: 0 3px;
  color: #fff;
  border: 1px solid;
  opacity: .75;
  border-radius: 50%;
  width: 36px;
  display: inline-block;
  height: 36px;
  text-align: center;
  background-color: #f45b69;
  line-height: 34px;
}

.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  padding: 35px;
  border-top: 4px solid #028090;
  margin-bottom: 30px;
}

.testimonials-clean {
  color: #313437;
  background-color: #eef4f7;
}

.portfolio-block.website.architecture {
  background-color: #eef4f7;
}

.portfolio-block.cv .group .organization {
  font-size: .85em;
  background-color: #f45b69;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .education.group .organization {
  background-color: #f45b69;
}

.btn-primary {
  color: #fff;
  background-color: #f45b69;
  border-color: #f45b69;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #676565;
  border-color: #676565;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fe6875;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(245,124,117,0.25);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f45b69;
  border-color: #f45b69;
}

