/* General */

* {
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NavigationBar */

.gradient {
  background: linear-gradient(150deg,#028090,#1da7b9);
  color: #ffffff;
}

.brand, .nav-link {
  color: #fff !important;
}

/* General Block */
.block {
  padding-bottom: 20px;
  padding-top: 50px;
}

/* ProfileIntro */

.portfolio-block {
  padding-bottom: 50px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .portfolio-block {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.portfolio-block .block-intro, .block {
  text-align: center;
}

.portfolio-block .block-intro .avatar {
  width: 150px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 20px;
}

.avatar {
  border-width: initial;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.intro-script {
  margin: 0;
  top: 50%;
  position: relative;
  transform: translate(0%, -50%);
  display: block;
  font-size: 1.5em;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media only screen and (min-width: 768px) {
  .intro-script {
    transform: translate(-6%, -50%);
  }
}

/* Buttons */

.standard-btn {
  padding: .5rem 1.2rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 2em !important;
  color: #f45b69 !important;
  border-color: #f45b69 !important;
}

.standard-btn:hover {
  color: #fff !important;
  background-color: #f45b69 !important;
  border-color: #f45b69 !important;
}

/* SkillSet */

.skill-set {
  padding-bottom: 40px;
  padding-top: 20px;
}

.special-skill-item .icon {
  text-align: center;
  font-size: 50px;
  background-color: #f45b69;
  color: #ffffff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
}

a, a:visited, a:active { color: inherit; }

.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  padding: 35px;
  border-top: 1px solid #1da7b9;
  margin-bottom: 30px;
}

.testimonials-clean {
  color: #313437;
  background-color: #eef4f7;
}

.portfolio-block.website.architecture {
  background-color: #eef4f7;
}

.portfolio-block.cv .group .organization {
  font-size: .85em;
  background-color: #f45b69;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .education.group .organization {
  background-color: #f45b69;
}

.btn-primary {
  color: #fff;
  background-color: #f45b69;
  border-color: #f45b69;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #676565;
  border-color: #676565;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fe6875;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(245,124,117,0.25);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f45b69;
  border-color: #f45b69;
}

@media only screen and (max-width: 720px) {
  .mobile-hide{ display: none !important; }
}