/* General */

* {
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pacman-spinner {
  padding-top: 60px;
  padding-bottom: 75px;
}

/* NavigationBar */

.gradient {
  color: #ffffff;
  background: linear-gradient(150deg, #2ec4b6, #2ec4b6);
}

.brand, .nav-link {
  color: #ffffff !important;
}

/* General Block */

.block {
  padding-bottom: 20px;
  padding-top: 50px;
}

/* ProfileIntro */

.portfolio-block {
  padding-bottom: 50px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .portfolio-block {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.portfolio-block .block-intro, .block {
  text-align: center;
}

.portfolio-block .block-intro .avatar {
  width: 150px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 20px;
}

.avatar {
  border-width: initial;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.intro-script {
  margin: 0;
  top: 50%;
  position: relative;
  transform: translate(0%, -50%);
  display: block;
  font-size: 1.5em;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media only screen and (min-width: 768px) {
  .intro-script {
    transform: translate(-6%, -50%);
  }
}

/* Buttons */

.standard-btn {
  padding: .5rem 1.2rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 2em !important;
  color: #2ec4b6 !important;
  border-color: #2ec4b6 !important;
}

.standard-btn:hover {
  color: #fff !important;
  background-color: #2ec4b6 !important;
  border-color: #2ec4b6 !important;
}

/* SkillSet */

.skill-set {
  padding-bottom: 60px;
  padding-top: 20px;
}

.special-skill-item .icon {
  text-align: center;
  font-size: 50px;
  background-color: #ffbf69;
  color: #ffffff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
}

a, a:visited, a:active { color: inherit; }

.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  padding: 35px;
  border-top: 2px solid #ffbf69;
  margin-bottom: 30px;
}

.testimonials-clean {
  color: #313437;
  background-color: #eef4f7;
}

.portfolio-block.website.architecture {
  background-color: #eef4f7;
}

.portfolio-block.cv .group .organization {
  font-size: .85em;
  background-color: #ffbf69;
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2em;
}

.portfolio-block.cv .education.group .organization {
  background-color: #ffbf69;
}

.btn-primary {
  color: #fff !important;
  background-color: #ffbf69 !important;
  border-color: #ffbf69 !important;
  padding: .5rem 1.2rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 2em !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #585656 !important;
  border-color: #585656 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #495057;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(245,124,117,0.25);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

@media only screen and (max-width: 720px) {
  .mobile-hide{ display: none !important; }
}

/* Utilities */

.zoom {
  padding: 10px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform: scale(1.2);
}

/* Projects */

.projects-block {
  padding-top: 50px;
}

.pagination > li > a
{
    background-color: white !important;
    color: #000000 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #000000 !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}

.pagination > .active > .page-link
{
    color: rgb(255, 255, 255) !important;
    background-color: #ffbf69 !important;
    border: solid 1px #ffbf69 !important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !important;
    border: solid 1px #5A4181 !important;
}

/* Floating Action Button */
.fab {
  width: 60px;
  height: 60px;
  background-color: #2ec4b6;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(124, 124, 124);
  transition: all 0.1s ease-in-out;

  font-size: 40px;
  color: white;
  text-align: center;
  line-height: 60px;

  position: fixed;
  right: 50px;
  bottom: 50px;

  cursor: pointer;
}

.fab:hover {
  box-shadow: 0 4px 12px 0 rgb(124, 124, 124);
  transform: scale(1.05);
}

@media only screen and (max-width: 720px) {
  /* CSS Rules */
  .fab {
    width: 50px;
    height: 50px;
    background-color: #2ec4b6;
    border-radius: 50%;
    box-shadow: 0 4 8px 0 rgb(124, 124, 124);
    transition: all 0.1s ease-in-out;

    font-size: 35px;
    color: white;
    text-align: center;
    line-height: 50px;

    position: fixed;
    right: 25px;
    bottom: 35px;
  }
  
  .fab:hover {
    box-shadow: 0 4px 12px 0 rgb(156, 156, 156);
    transform: scale(1.05);
  }
}